.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  width: 100%;
  background-color: teal;
  display: flex;
}

nav div {
  background-color: green;
  padding: 0.25em;
}

nav div a {
  color: red;
}

.jakaja {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
}

.tekstialue {
  width: 40%;
}

.treenikalenteri {
  width: 40%;
}
