html {
  background-color: brown;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: calc((1vw + 1vh) * 75);
  margin: 1%;
  padding: 2%;
  box-shadow: 3px 5px 20px black, 0 0 60px #8a4d0f inset;
  background: bisque;
}

nav {
  display: flex;
  background-color: burlywood;
  border: 2px solid black;
  flex-wrap: wrap;
}

nav div {
  text-decoration: none;
  font-size: xx-large;
  margin: 0.25%;
  padding: 1%;
  color: black;
  border: 2px solid burlywood;
}

nav div:hover {
  background-color: lightgray;
  border: 2px dotted black;
  font-weight: bold;
  color: darkred;
  cursor: pointer;
}

footer {
  color: black;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  padding: 5%;
  background-color: burlywood;
}

footer .tiedot {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-wrap: nowrap;
  padding: 1%;
  gap: 1em;
}

footer .tiedot a:hover {
  color: darkred;
}

footer .one {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding: 1%;
  border: 2px solid black;
}

footer .pertz {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding: 1%;
  border: 2px solid black;
}

footer img {
  padding: 0;
  margin: 0;
  border: 2px solid black;
}

footer .tiedot a {
  display: flex;
  font-size: larger;
  text-decoration: none;
  color: black;
}

.sivu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sivu .main {
  left: 50%;
  margin: 2em 1%;
  padding: 4em;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: burlywood;
  flex-direction: row;
}

.ads {
  background-color: burlywood;
  border: 2px dotted black;
  padding: 1%;
  display: flexbox;
  flex-direction: column;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  margin: 1%;
  gap: 1em;
}

.ads .seize {
  animation-name: banner;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes banner {
  from {
    border: 2px solid black;
    filter: blur(5px);
  }

  to {
    border: 2px solid red;
    filter: blur(0);
  }
}

.ads img {
  border: 2px solid black;
}

.ads img:hover {
  border: 2px solid red;
  animation: step-end;
}

.open {
  cursor: pointer;
}

.treenikalenteri {
  margin: 1%;
}

.treenikalenteri iframe {
  width: 100%;
  min-height: 25em;
  height: 50em;
}
